<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/styles.css') }}">
  <title>Movie Catalog</title>
</head>


  <!--LOAD PRE-REQUISITES FOR GOOGLE SIGN IN -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script src="//apis.google.com/js/platform.js?onload=start"> </script>

<!-- END PRE-REQUISITES FOR GOOGLE SIGN IN -->

<body>
  <header>
    <section class="container">
      <div class="pagetitle"><h1>Movie Catalog</h1></div>
      <div class="logout">
        <a class="black" href = "{{url_for('showCategory')}}"><h2>home</a> |
        <a class="black" href="{{url_for('gdisconnect')}}"> logout</h2></a></div>
    </section>
  </header>
  <br>
  <section class="container center">
    <div id="signinButton">
      <h3> Google Login - Please login via Google Login API</h3>

      <span class="g-signin"
        data-scope="openid email"
        data-clientid="487341219308-q5kijcr9q0q40lok10vap35i2lkr0h3f.apps.googleusercontent.com"
        data-redirecturi="postmessage"
        data-accesstype="offline"
        data-cookiepolicy="single_host_origin"
        data-callback="signInCallback"
        data-approvalprompt="force">
      </span>
    </div>

    <div id="result"></div>

<script>
function signInCallback(authResult) {
  if (authResult['code']) {
    $('#signinButton').attr('style', 'display: none');

    $.ajax ({
      type: 'POST',
      url: '/gconnect?state={{STATE}}',
      processData: false,
      data: authResult['code'],
      contentType: 'application/octet-stream; charset=utf-8',
      success: function(result) {
        if(result) {
          $('#result').html('Login Successful!<br>' + result + '</br>Redirecting..')
          setTimeout(function() {
            window.location.href = "/category";
          }, 4000);
        } else if (authResult['error']) {
          console.log('There was an error: ' + authResult['error']);
        } else {
           $('#result').html('Failed to make a server-side call. Check console.');
        }
      }

    });
  }
}
</script>
</section>
</body>
</html>
